.imageContainer{
  background-color: rgb(165, 146, 146);
  width: 410px;
  margin: auto;
  margin-top: 50px;
}

#mainImage {
  width: 400px;
  height: 300px;
  border: 2px solid #333;
  margin-bottom: 15px;
  object-fit: cover;
  margin: auto;
}

.thumbnail {
  width: 80px;
  height: 60px;
  margin-right: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  object-fit: cover;
}

.thumbnail.selected {
  border-color: blue;
}
